body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading{
    width:100%;
    text-align: left;
}

.heading h3{
    display: inline;

}

.heading button{
float:right;
border: 1px solid white;

}

.big_image{
    width: 100%;
}

#start, #status{
    font-size: 22px;
}

.footer{
    width: 100%;
    position:fixed;
    bottom:0;
    text-align: center;
    background-color: rgb(69, 182, 216);
    color: azure;
}

.modal-body{
    font-size:20px;
}